/* Topo - Barra de navegacao */

.bg-dark {
    background-color: #0960b0 !important;
}

.nav-link {
    color: #fafafa !important;

}

.dropdown-menu {
    background-color: #0960b0 !important;

}

.dropdown-item{
    color: #fafafa !important;
}

.dropdown-item:hover {
    background-color: #2c8beb !important;
}

.btn {
    background-color: #2c8beb !important;
    
}

.btn:hover {
    background-color: #2c8beb !important;

}

.navbar.fixed-top #loginclick {
    margin-left: 15px;
}

.navbar-collapse button {
    margin-top: 15px;
}

@media (min-width: 576px) {
    .navbar-collapse button {
        margin-top: 0px;
    }
}

.fixed-top .form-inline span {
    color: #fafafa;
    font-weight: bolder;
}

.fixed-top .form-inline a {
    margin-left: 25px;
}


/* Página */

.container {
    margin-top: 75px;
}


/* Postagens */

.posts,
.posts .post {
    border: 1px solid #e3e3e3;
}

.posts {
    padding: 20px;
}

.post {
    border: 1px solid #e3e3e3;
    padding: 15px;
    margin: 15px 0px;
}

.post:first-child {
    margin-top: 0px;
}

.post:last-child {
    margin-bottom: 0px;
}

.postinfo {
    background-color: #f1f1f1;
    margin-top: 10px;
    padding: 6px;
}


/* Rodapé */

.baixo {
    border-top: 1px solid #e5e5e5;
    background-color: #fafafa;
    padding: 25px;
    margin: 0px;
}

.baixo .center {
    text-align: center;
}

.baixo .left {
    text-align: left;
}

.baixo .right {
    text-align: right;
}

.baixo,
.baixo a,
.baixo a:active {
    color: #979797 !important;
}

.baixo a:hover {
    color: #535353 !important;
    text-decoration: none !important;
}

.baixo a {
    margin-right: 15px;
    margin-left: 15px;
}

/* Carrosel */
 
.carousel-control-prev-icon,
.carousel-control-next-icon {
   height: 65px;
   width: 65px;
   outline: black;
   background-size: 100%, 100%;
   background-image: none;

}

.carousel-control-next-icon:after{
   content: '>';
   font-size: 65px;
   font-weight: 1000;
   color: #4399ef;
 }

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 65px;
  font-weight: 1000;
  color: #4399ef;
}

.carousel-indicators .active {
   background-color: #2c8beb;
}

 /* Cards */

 .card-box {
    background: #FAFAFA;
    min-height: 300px;
    position: relative;
    padding: 30px 30px 20px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.card-box:hover {
    background: linear-gradient(to right, #1fa2ff17 0%, #12d8fa2b 51%, #1fa2ff36 100%);
}

.card-box:after {
    display: block;
    background: #2196F3;
    border-top: 2px solid #2196F3;
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.card-title h2 {
    margin: 0;
    padding-top: 5%;
    color: #2196F3;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 15px;
}

.card-title p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.card-link a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #0960b0;
    font-size: 15px;
}